[[extend 'layout.html']]

<style>
[v-cloak] {
      display: none;
}

</style>

<div class="section" id="app" v-cloak>
  <!-- PAGE HEADER -->
  <div class="hero margin-bottom is-info is-small"> 
    <div class="hero-body">
      <div class="container is-info">
        <h1 class="title">My Birding Statistics</h1>
      </div>
    </div>
  </div>
  <p class="p-2"> </p>
  <!-- Complete -->
  <div class="m-3"> 
    <div class="level">
      <div class="level-left">
        <div class="field has-addons">
          <p class="control has-icons-left">
            <input class="input is-rounded is-focused is-info custom-width is-medium" type="text" placeholder="Search Species" v-model="search_query" @keyup="search">
            <span class="icon is-medium is-left">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="level-right">
        <!-- <a href="[[=URL('index')]]" class="button is-medium is-info"> Index</a> -->
      </div>
    </div>
  </div>
  <!-- TABLE OF SPECIES -->
  <div class="section"> 
    <table class="table is-fullwidth is-striped is-hoverable"> 
      <thead>
        <tr>
          <th>Specie</th>
          <th>Count</th>
          <th>Favorite?</th>
        </tr>
        </thead>
        <tbody> 
          <tr v-for="stat in table_data" :key="stat.id" @element onclick="show_vis(stat.specie)">
            <td>{{ stat.specie }}</td>
            <td>{{ stat.count }}</td>
            <td>
              <div class="columns">
                <div class="column">
                  <label class="checkbox" @click="checking_favorite(stat.id)">
                    <input type="checkbox" v-model="stat.favorite">
                  </label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
    
  </div>
</div>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  // const dataP = [
  //   4,
  //   5,
  //   4,
  //   3
  // ];

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Spring', 'Summer', 'Fall', 'Winter'],
      datasets: [{
        label: '# of Birds Seen',
        data: dateData = [],
        backgroundColor: [
          'rgb(2, 205, 86)',
          'rgb(255, 205, 86)',
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
        ],
        borderWidth: 1,
        hoverOffset: 4,
        radius: 100
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
    mounted() {
      axios.post('/ebird/api/get_date_data')
          .then(response => {
              this.dateData = response.data.dateData;
          })
          .catch(error => {
              console.error("Error fetching date data:", error);
          });
      }
  });
</script>
 

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let stats_url = "[[=XML(stats_url)]]";
    let load_stats_url = "[[=XML(load_stats_url)]]";
    let search_species_url = "[[=XML(search_species_url)]]";
    let checking_favorite_url = "[[=XML(checking_favorite_url)]]";
    let show_vis_url = "[[=XML(show_vis_url)]]";

</script>
<script src="js/stats.js"></script>
[[end]]



</div>
